@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* background: #F7F5F2; */
    background: #0A91AB;
}

.slogan-container {
    text-align: center;
    /* max-inline-size: min-content; */
    margin-top: 80px;
}

.slogan-container h1 {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Alfa Slab One', cursive;
    font-weight: 900;
    line-height: 1.6;
    color: #0C2233;
    /* border: solid; */
    -webkit-text-stroke: 1px black;
}

button:disabled{
    @apply opacity-50 cursor-not-allowed;
}


.card{
    /* @apply w-full bg-slate-50 p-3 drop-shadow-md rounded-md lg:p-6 ; */
    @apply w-full bg-[#112B3C] p-3 drop-shadow-md rounded-md lg:p-6 ;
}

.white-heading{
    @apply font-bold font-sans text-[#E8F9FD];
}

.blue-subheading {
    @apply text-sm font-bold font-sans text-[#0A91AB];
}

.ribbon{
    @apply absolute top-0 right-0 m-2 py-1 px-2 rounded-md text-sm text-center text-white font-semibold ;
}

.inner-card{
    @apply bg-[#8d8daa18] p-3 mx-1 rounded-sm;
}

.my-contributions{
    @apply bg-[#0C2233] p-3 mx-1 rounded-lg my-2 flex flex-row w-full lg:w-1/4;
}

.input-label {
    @apply text-sm font-semibold text-[#F3EFE0]
}

.input{
    @apply border border-emerald-300 py-2 px-3 focus:outline-none focus:ring focus:ring-emerald-300 w-full;
  }

.form-control-input{
    @apply bg-[#8d8daa18] text-[#D3D3D3] py-2 px-3 focus:outline-none focus:ring w-full rounded my-1 mb-1;
}

.button{
    @apply border bg-emerald-500 text-white rounded-r-md px-2 hover:bg-emerald-600 active:bg-emerald-700 focus:outline-none focus:ring focus:ring-emerald-300;
}
  
.progress{
    @apply bg-[#FFC045] w-full text-xs font-bold text-[#0C2233] text-center p-0.5 leading-none rounded-l-full;
}

.date-picker input {
    box-sizing: border-box;
    position: relative;
    color: darkgray;
  }

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.withdraw-button{
    @apply border bg-emerald-500 text-white rounded-md p-2 mt-1  font-bold hover:bg-emerald-600 active:bg-emerald-700 focus:outline-none focus:ring focus:ring-emerald-300;
    width: 100%;
}

